<!doctype html>
<html lang="en" ng-app="watsonChatbot">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <!-- <link rel="stylesheet" href="./style/sp-custom-bs4.css" > -->

    <!-- Custom styles for this template -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <link rel="stylesheet" href="./style/blog.css" >
    <link rel="stylesheet" href="./style/chatbot.css" >
  </head>
  <!--  -->


  <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            From the Firehose
          </h3>

        </div><!-- /.blog-main -->
        <aside class="col-md-4 blog-sidebar">


          <!-- Chatbot content -->
          <div>



            <!-- Button trigger modal
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Start chat
            </button> -->

            <!--Button trigger modal -->
            <!--define style in chatbot.css and call in class field below, -->
             <a data-toggle="modal" href="#exampleModal" class="btn btn-primary btn-lg">Chatbot</a>
            <!-- Modal (pop out box) -->
            <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true"> -->
            <div class="modal fade modalPosition" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
              <div class="modal-dialog" style="width:500px;" style="height:500px" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                  <!--    <div class="w-100 h-100 rounded p-3 mb-2 text-dark">HR chatbot</div> -->
                    <h5 class="modal-title" id="exampleModal">HR Chatbot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <!--  modal body -->
                  <div class="modal-body" id="chat-modal">
                    <p> This is a chatbot service. Feel free to ask a question! </p>
                    <!-- list of chat messages -->
                    <div class="msg-container">
                      <!-- <div class="msg user">
                      Hello!
                      <i class="far fa-user"></i>
                      <p class="time">Some time <i class="far fa-user"></i></p>
                      </div>
                      <div class="msg bot">
                        I am the HR chatbot
                      <p class="time">Some time</p>
                      </div> -->
                      <!-- A chat message -->
                      <div ng-repeat="msg in messages" class="msg" ng-class="(msg.bot) ? ['bot'] : ['user']">
                        {{msg.text}}
                        {{msg.title}}
                        <ul ng-if="msg.response_type=='option'">
                          <li ng-repeat="option in msg.options">
                            <a class="option-item" ng-click=clickOption(option) href="">{{option.label}}</a>
                          </li>
                        </ul>
                        <p class="time">{{timestampToString(msg.time)}} <i ng-class="(msg.bot) ? ['fas', 'fa-robot'] : ['far', 'fa-user']"></i></p>
                      </div>
                    </div>
                  </div>

                  <!--  modal footer -->
                  <div class="modal-footer">
                    <!-- form to chat to Watson -->
                    <form autocomplete="off" class="chat-form">
                      <div class="input-group">
                        <input type="text" class="form-control" name="message" placeholder="Type message..." ng-model="userInput" ng-disabled="lastMessageIsOption">
                        <div class="input-group-append">
                          <button type="submit" class="btn btn-success" ng-click="clickSend()" ng-disabled="lastMessageIsOption">Send</button>
                          <!--<button type="submit" class="btn btn-dark" ng-click="reset()">Reset</button> -->
                        </div>
                        <!-- <button type="submit" class="btn float-right" ng-click="reset()">Reset</button> -->
                      </div>
                      <div class="input-group">
                        <a class="alert alert-danger input-group" ng-model="error" ng-if="error">
                          {{error.text}}
                        </a>
                      </div>
                    </form>

                    <!-- <button type="button" class="btn btn-info" data-dismiss="modal">Close</button> -->
                </div>

              </div>
            </div>
          </div>
          <!-- end Modal -->
      </div><!-- /.row -->
    </main><!-- /.container -->

    <!-- All javascript libraries (Placed at the end of the document so the pages load faster) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"
            integrity="sha256-ifihHN6L/pNU1ZQikrAb7CnyMBvisKG3SUAab0F3kVU="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"
            integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"
            integrity="sha256-ji09tECORKvr8xB9iCl8DJ8iNMLriDchC1+p+yt1hSs="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"
            integrity="sha256-QRJz3b0/ZZC4ilKmBRRjY0MgnVhQ+RR1tpWLYaRRjSo="
            crossorigin="anonymous">
    </script>
    <script src="./scripts/socket.min.js"></script>
    <script src='./scripts/app.js'></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
